body {
    z-index: 9;
    background-image: url("img/bg.jpg");
    background-attachment: fixed;
    color: black;
    font-family: 'Raleway', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-responsive {
    padding-left: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.ys-small {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.row-padded {
    padding-top: 50px;
}

.intro {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
}

.links {
    padding-top: 50px;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.link {
    text-align: center;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 2px;
    display: inline-block;
}

.link a {
    color: black;
}

.link a:hover {
    color: #D4A4CB;
}

.stay-on-top {
    position: fixed;
    z-index: 99;
    width: 102%;
}

.navbar-yule {
    top: 0;
    height: 24px;
    width: 100%;
    overflow: hidden;
    
    color: black;
    background-color: white;
    box-shadow: 0px 1px 4px #555555;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
}

.navbar-link-yule {
    float: right;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 5px;
    text-align: center;
}

.navbar-link-yule a {
    color: black;
}

.navbar-link-yule a:hover {
    color: #D4A4CB;
}

.is4300-p h1 {
    font-family: 'Merriweather', sans-serif;
}

.is4300-p {
    font-family: 'Muli', sans-serif;
    font-size: 12px;
}

.is4300-p img {
    display:block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/** fix this **/
@media screen and (max-device-width : 1204px)
{
  .intro
  {
    padding-top:100px;
    font-size: 10px;
  }
}